.App {
  text-align: center;
  width: 100%;
  max-width: 900px;
  height: 100vh;
  margin: auto;
  background-color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}