ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 5em;
}